body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    height: 150px;
}

.logo {
    width: 20px;
    height: 20px;
}

.link{
    font-weight: lighter;
    font-size: small;
}
.card {
    width: 420px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: 0 auto;
    /*align-content: center;*/
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;

    background-color: #a8dadc;
    color: #073b4c;
    border-bottom: 6px solid #db3a34;

}

/*.italic {*/
/*    font-style: italic;*/
/*}*/

/*.border-blue{*/
/*    border: 1px dotted blue;*/
/*}*/